{% extends 'custombase.html.twig' %}

{% block header %}
	<div id="header">
		<div class="navbar">
			<div id="logo">
				<img src=""/>
				<span> Findy </span>
			</div>
			<ul>
				<li>
					<a href=""> Sign Up </a>
				</lih>
				<li>
					<a href=""> Contact </a>
				</li>
			</ul>
		</div>
	</div>
{% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Welcome to</span> Findy</h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block header %}
	<div id="header">
		<div class="navbar">
			<div id="logo">
				<img src=""/>
				<span> Findy </span>
			</div>
			<ul>
				<li>
					<a href=""> Sign Up </a>
				</lih>
				<li>
					<a href=""> Contact </a>
				</li>
			</ul>
		</div>
	</div>
{% endblock %}

{% block stylesheets %}
<style>
</style>
{% endblock %}
